.details_page {
  background-color: black;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 48px;
}

.details_page_title {
  font-size: 48px;
  line-height: 200%;
  padding-top: 20px;
}

.details_page_content {
  font-size: 25px;
  line-height: 150%;
  padding-bottom: 20px;
}

.details_page_contact {
  font-size: 25px;
  line-height: 150%;
  padding-left: 40px;
}

.icons {
  color: whitesmoke;
  transition: 0.2s ease;
}

.icons:hover {
  transform: scale(1.03);
  color: rgba(255, 255, 255, 0.7);
}
