.details_page {
  background-color: black;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 80px;
}

.details_page_title {
  font-size: 48px;
  line-height: 200%;
}

.details_page_content {
  font-size: 40px;
  line-height: 150%;
  text-indent: 16px;
}

.icons > a {
  color: whitesmoke;
  text-decoration: none;
}
