.landing_page {
  background-color: black;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing_page_column {
  position: relative;
}

.landing_page_column_overlay {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.typewriter_container {
  display: flex;
  justify-content: start;
  padding: 48px;
  align-items: center;
}

.typewriter {
  align-self: center;
  position: relative;
}

.typewriter-typing::after {
  content: '';
  background-color: white;
  width: 4px;
  height: 116px;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
