.main_page {
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.main_page_cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_page_text {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  border: 1px solid #634f46;
  padding: 20px 20px;
}

.main_page_portfolio {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  padding: 12px;
}

.portfolio_btn_position {
  display: flex;
  gap: 16px;
  align-items:center;
}

.portfolio_description {
  padding: 16px;
}

.reference {
  color: #302f2f;
  text-align: end;
  font-size: 15px;
  position: absolute;
  bottom: 10px;
  right: 15px;
}
