.main_page {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('images/seobo.jpeg');
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.main_page_dialog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(227 225 221 / 90%);
  border-radius: 4px;
  box-shadow: #353131 2px 2px 4px 1px;
  padding: 24px;
  gap: 24px;
  max-width: 1300px;
}

.main_page_row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.main_page_portfolio {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items:center;
  border: 2px solid #353131;
  border-radius: 4px;
  box-shadow: #aba0a0 2px 2px 4px 1px;
  cursor: pointer;
  transition: transform 0.1s ease-out;
  flex-grow: 1;
  flex-shrink: 1;
  width: calc((100vw - 192px) / 3);
  height: calc((100vw - 192px) / 3 / 1.61);
  max-width: 400px;
  max-height: 250px;
  overflow: hidden;
}

.main_page_portfolio:hover {
  transform: scale(1.015);
}

.main_page_portfolio:hover:active {
  transform: scale(1.015);
}

.main_page_img_container {
  height: 100%;
  width: 120px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.main_page_portfolio_description {
  display: flex;
  flex-direction: column;
  color: black;
  padding: 12px;
  gap: 12px;
}

.reference {
  color: #302f2f;
  text-align: end;
  font-size: 15px;
  position: absolute;
  bottom: 10px;
  right: 15px;
}
